name: Deploy Frontend to AWS
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          npm install
          npm run build # Creates the 'dist' folder
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}

      - name: Copy Build Files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist/*"
          target: "/var/www/html"
          strip_components: 1